<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory</title>
    <link rel="stylesheet" href="/styles/inventory.css">

    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
        }
    </script>

    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</head>
<body>

    <div id="google_translate_element" style="position: absolute; top: 10px; left: 10px;"></div>

    <div id="content">
        <table>
            <tr id="headerRow" align="center">
                <th>ID</th>
                <th>Name</th>
                <th>Quantity</th>
                <th></th>
            </tr>

            <% for (var i in inventoryItems) {%>
                <tr align="center">
                    <td><%= inventoryItems[i].itemid %></td>
                    <td><input id="itemname-<%= inventoryItems[i].itemid %>" type="text" value='<%= inventoryItems[i].itemname %>' disabled></td>
                    <td><input id="itemquantity-<%= inventoryItems[i].itemid %>" type="number" value='<%= inventoryItems[i].quantity %>' disabled></td>
                    <td><button class="deleteItems" onclick="deleteItem('<%= inventoryItems[i].itemid %>')">Delete</button></td>
                </tr>
            <% } %>
        </table>

        <div id="buttons">
            <button id="goBackBtn" onclick="goToDashboard()">Exit</button>
            <button id="addItemBtn" onclick="newItemInput()">Add Item</button>
            <button id="editItemsBtn" onclick="editInventory('<%= JSON.stringify(inventoryItems) %>')">Modify</button>
            <button id="cancelEditBtn" onclick="cancelEditing('<%= JSON.stringify(inventoryItems) %>')" disabled>Cancel Editing</button>
        </div>

    </div>

    <div id="newItemPopup">

        <div id="newItemPopupContent">

            <h1 id="newItemTitle">New Item</h1>

            <div id="newItemName">
                <label id="nameLabel">Name:</label>
                <input id="nameInput" type="text">
            </div>

            <div id="newItemQuantity">
                <label id="quantityLabel">Quantity:</label>
                <input id="quantityInput" type="number">
            </div>

            <div id="submit">
                <button id="addNewItemBtn" onclick="submitNewItem()">Add</button>
                <button id="cancelAddBtn" onclick="closeNewItemPopup()">Cancel</button>
            </div>

        </div>

    </div>

    <script src="/scripts/inventory.js"></script>
    <script src="/scripts/speaktext.js"></script>
</body>
</html>