<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Staff</title>
        <link rel="stylesheet" href="/styles/staff.css">

        <script type="text/javascript">
            function googleTranslateElementInit() {
                new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
            }
        </script>
    
        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    </head>

    <body>

        <div id="google_translate_element" style="position: absolute; top: 10px; left: 10px;"></div>

        <div id="content">
            <table>
                <tr align="center">
                    <th>ID</th>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Email</th>
                    <th>Date Joined</th>
                    <th></th>
                </tr>

                <% for (var i in staffMembers) {%>
                    <tr align="center">
                        <td><%= staffMembers[i].staffid %></td>
                        <td><%= staffMembers[i].name %></td>
                        <td><button id="positionBtn-<%= staffMembers[i].staffid %>" class="staffMemberPositionBtn" onclick="changePosition('<%= staffMembers[i].staffid %>')" disabled><%= staffMembers[i].position %></button></td>
                        <td><input id="emailInput-<%= staffMembers[i].staffid %>" type="text" value="<%= staffMembers[i].email %>" disabled></td>
                        <td><%= staffMembers[i].datejoined.toLocaleString() %></td>
                        <td><button class="deleteStaffBtn" onclick="deleteStaffMember('<%= staffMembers[i].staffid %>')">Delete</button></td>
                    </tr>
                <% } %>
            </table>

            <div id="editcontent">
                <button id="goBackBtn" onclick="goToDashboard()">Exit</button>
                <button id="addMemberBtn" onclick="newMemberInput()">Add New Employee</button>
                <button id="editStaffBtn" onclick="editStaff('<%= JSON.stringify(staffMembers) %>')">Modify</button>
                <button id="cancelEditBtn" onclick="cancelEditing('<%= JSON.stringify(staffMembers) %>')" disabled>Cancel Editing</button>
            </div>

            
        </div>

        <div id="newMemberPopup">

            <div id="newMemberPopupContent">

                <h1 id="newMemberTitle">New Staff Member</h1>

                <div id="newMemberName">
                    <label id="nameLabel">Name:</label>
                    <input id="nameInput" type="text">
                </div>

                <div id="newMemberPosition">

                    <label id="positionLabel">Position:</label>

                    <input type="radio" id="manager" name="position" value="Manager">
                    <label for="manager">Manager</label>

                    <input type="radio" id="employee" name="position" value="Employee" checked>
                    <label for="employee">Employee</label>

                </div>

                <div id="setEmail">
                    <label id="emailLabel">Google Email:</label>
                    <input type="text" id="emailInput">
                </div>

                <div id="submit">
                    <button id="addNewEmpBtn" onclick="submitNewMember()">Add</button>
                    <button id="cancelAddBtn" onclick="closeNewMemberPopup()">Cancel</button>
                </div>

            </div>

        </div>
        <!-- Link to your external script file -->
        <script src="/scripts/speaktext.js"></script>
        <script src="/scripts/textzoom.js"></script>
        <script src="/scripts/staff.js"></script>
    </body>
</html>