<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Staff</title>
        <link rel="stylesheet" href="/styles/staff.css">
    </head>

    <body>

        <div id="content">
            <table>
                <tr align="center">
                    <th>ID</th>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Password</th>
                    <th>Date Joined</th>
                </tr>

                <% for (var i in staffMembers) {%>
                    <tr align="center">
                        <td><%= staffMembers[i].staffid %></td>
                        <td><%= staffMembers[i].name %></td>
                        <td><button id="positionBtn-<%= staffMembers[i].staffid %>" onclick="changePosition('<%= staffMembers[i].staffid %>', '<%= staffMembers[i].password %>')" disabled><%= staffMembers[i].position %></button></td>
                        <td><input id="passwordInput-<%= staffMembers[i].staffid %>" type="password" value="<%= staffMembers[i].password %>" disabled></td>
                        <td><%= staffMembers[i].datejoined %></td>
                    </tr>
                <% } %>
            </table>

            <div id="editcontent">
                <button id="goBackBtn">Go Back</button>
                <button id="addMemberBtn" onclick="addNewMember()">Add New Employee</button>
                <button id="editStaffBtn" onclick="editStaff('<%= JSON.stringify(staffMembers) %>')">Modify</button>
                <button id="cancelEditBtn" onclick="cancelEditing('<%= JSON.stringify(staffMembers) %>')" disabled>Cancel Editing</button>
            </div>

            
        </div>
        
        <div id="newMemberPopup">
            <div id="newMemberPopupContent">
                <div id="newMemberName">
                    <label id="nameLabel">Name:</label>
                    <input id="nameInput" type="text">
                </div>

                <div id="newMemberPosition">

                    <label id="positionLabel">Position:</label>

                    <input type="radio" id="manager" name="position" value="Manager">
                    <label for="manager">Manager</label>

                    <input type="radio" id="employee" name="position" value="Employee" checked>
                    <label for="employee">Employee</label>

                </div>

                <div id="setPassword">
                    <label id="passwordLabel">Create Password:</label>
                    <input type="text" id="passwordInput">
                </div>

                <div id="submit">
                    <button id="addNewEmpBtn">Add</button>
                    <button id="cancelAddBtn">Cancel</button>
                </div>
            </div>
        </div>

        <script src="/scripts/staff.js"></script>
    </body>
</html>